<aside class="Hui-aside">
    <div class="menu_dropdown bk_2">
        <dl id="menu-sector">
            <dt><i class="Hui-iconfont">&#xe616;</i>部门管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('sector/index')}" data-title="资讯管理" href="javascript:void(0)">部门列表</a></li>
                    <li><a data-href="{:url('personnel/index')}" data-title="资讯管理" href="javascript:void(0)">职员管理</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-article">
            <dt><i class="Hui-iconfont">&#xe616;</i>文章管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('article/index')}" data-title="资讯管理" href="javascript:void(0)">文章列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-auth">
            <dt><i class="Hui-iconfont">&#xe62d;</i>权限管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('authgroup/index')}" data-title="权限组列表" href="javascript:void(0)">权限组列表</a></li>
                    <li><a data-href="{:url('authrule/index')}" data-title="权限列表" href="javascript:void(0)">权限列表</a></li>
                    <li><a data-href="{:url('admin/index')}" data-title="角色管理" href="javascript:void(0)">角色管理</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-setting">
            <dt><i class="Hui-iconfont">&#xe62d;</i>设置<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('setting.wechat/index')}" data-title="微信配置" href="javascript:void(0)">微信配置</a></li>
                    <li><a data-href="{:url('setting.system/index')}" data-title="系统设置" href="javascript:void(0)">系统设置</a></li>
                </ul>
            </dd>
        </dl>
    </div>
</aside>