<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>沁州先锋行</title>
	<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
	<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/swiper.min.css">
	<link rel="stylesheet" type="text/css" href="css/page.css">
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/swiper.jquery.min.js"></script>-->
	<link rel="stylesheet" href="__STATIC__/home/css/bootstrap.min.css">
	<link rel="stylesheet" href="__STATIC__/home/css/swiper.min.css">
	<link rel="stylesheet" href="__STATIC__/home/css/page.css">
	<script type="text/javascript" src="__STATIC__/home/js/jquery.min.js"></script>
	<script type="text/javascript" src="__STATIC__/home/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="__STATIC__/home/js/swiper.jquery.min.js"></script>
</head>
<body>
	<div class="swiper-container">
	    <div class="swiper-wrapper">
	        <div class="swiper-slide">
	        	<img src="__STATIC__/img/1.jpg">
	        </div>
	        <div class="swiper-slide">
	        	<img src="__STATIC__/img/2.jpg">
	        </div>
	        <div class="swiper-slide">
	        	<img src="__STATIC__/img/3.jpg">
	        </div>
	        <div class="swiper-slide">
	        	<img src="__STATIC__/img/4.jpg">
	        </div>
	        <div class="swiper-slide">
	        	<img src="__STATIC__/img/5.jpg">
	        </div>
	        <div class="swiper-slide">
	        	<img src="__STATIC__/img/6.jpg">
	        </div>
	        <div class="swiper-slide">
	        	<img src="__STATIC__/img/7.jpg">
	        </div>
	    </div>
	    <div class="swiper-pagination" style="background-color:#EBEBEB;bottom: 5px"></div>
	</div>
	<div class="title">
		<span>沁州时事</span>
	</div>
	<div class="container">				
		<div class="col-xs-4 text-center">
			<div class="pic">
				<a href="#">
					<img src="__STATIC__/img/img1.png"/>
				</a>
				<h4>第一书记</h4>
			</div>
		</div>
		<div class="col-xs-4 text-center">
			<div class="pic">
				<a href="#">
					<img src="__STATIC__/img/img2.png"/>
				</a>
				<h4>扶贫攻坚</h4>
			</div>
		</div>
		<div class="col-xs-4 text-center">
			<div class="pic">
				<a href="#">
					<img src="__STATIC__/img/img3.png"/>
				</a>
				<h4>联系我们</h4>
			</div>
		</div>
	</div>
	<script type="text/javascript">		
		var mySwiper = new Swiper('.swiper-container',{
			pagination : '.swiper-pagination',
			loop: true,
			autoplay : 5000,
			autoplayDisableOnInteraction : false,
		})
	</script>
</body>
</html>